<div class="container-fluid">
  <h2>{{title}}</h2>
  <div class="subtitle row" [innerHTML]="subTitle"></div>

  <div class="row">
    <div class="col-sm-4">
      <div [class]="status.class" role="alert" data-test="status">
        <strong>Status: </strong> {{status.text}}
        <span [hidden]="!processing">
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </span>
      </div>
      <span *ngIf="metrics">
        <b>Metrics:</b> {{metrics.endTime | date: 'yyyy-MM-dd HH:mm aaaaa\'m\''}} | {{metrics.executionTime}}ms
        | {{metrics.totalItemCount}} items
      </span>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" data-test="alert-odata-query">
        <strong>OData Query:</strong> <span data-test="odata-query-result">{{odataQuery}}</span>
      </div>
      <label>OData Version: </label>
      <span data-test="radioVersion">
        <label class="radio-inline control-label" for="radio2">
          <input type="radio" name="inlineRadioOptions" data-test="version2" id="radio2" checked [value]="2"
                 (change)="setOdataVersion(2)"> 2
        </label>
        <label class="radio-inline control-label" for="radio4">
          <input type="radio" name="inlineRadioOptions" data-test="version4" id="radio4" [value]="4"
                 (change)="setOdataVersion(4)"> 4
        </label>
      </span>
    </div>
  </div>

  <angular-slickgrid gridId="grid5" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
                     [dataset]="dataset" (onGridStateChanged)="gridStateChanged($event)"
                     (onAngularGridCreated)="angularGridReady($event)">
  </angular-slickgrid>
</div>
