<div id="demo-container" class="container-fluid">
  <h2>
    {{ title }}
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-headermenu.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="switchLanguage()">
    <i class="mdi mdi-translate"></i>
    Switch Language
  </button>
  <strong>Locale:</strong>
  <span style="font-style: italic" data-test="selected-locale">
    {{ selectedLanguage + '.json' }}
  </span>

  <div class="col-sm-12">
    <angular-slickgrid gridId="grid8" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset">
    </angular-slickgrid>
  </div>
</div>
