h3 {
  font-style: normal;
  color: #3d3d3d;
}
.subtitle {
  font-size: 18px;
}
.ng-select.custom {
  border:0px;
  max-height: 27px;
  border-radius: 0;
}
.ng-input {
  padding-top: -4px !important;
  padding-left: 4px !important;
}
