// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-bootstrap.scss' with (
//   $slick-preheader-font-size: 18px,
//   $slick-preheader-border-right: 1px solid lightgrey,
// );

.alert {
  padding: 8px;
}
