h3 {
  font-style: normal;
  color: #3d3d3d;
}
.cell-menu-dropdown {
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  width: max-content;
  padding: 0 14px;
  cursor: pointer;
  &:hover {
    background-color: #a3a3a3;
    color: #ffffff;
  }

  .fa-caret-down {
    margin-left: 5px;
  }
}

#slickGridContainer-grid22 {
  .slickgrid-container {
    .slick-headerrow-column {
      .ng-input {
        padding-top: -4px !important;
        padding-left: 4px !important;
      }
    }
    .slick-cell {
      line-height: 30px !important;
    }
  }

  input.slider-filter-input[type=range],
  .form-control {
    height: 34px !important;
  }
}
