<div class="container-fluid">
  <h2>
    <span [innerHTML]="title"></span>
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-tree-data-parent-child.component.ts">
        <span class="mdi mdi-link mdi-v-align-sub"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="row">
    <div class="col-md-12">
      <button (click)="addNewRow()" class="btn btn-outline-info btn-sm">
        <span class="icon mdi mdi-plus"></span>
        <span>Add New Item (in 1st group)</span>
      </button>
      <button (click)="collapseAll()" data-test="collapse-all" class="btn btn-outline-secondary btn-sm">
        <span class="icon mdi mdi-arrow-collapse"></span>
        <span>Collapse All</span>
      </button>
      <button (click)="expandAll()" data-test="expand-all" class="btn btn-outline-secondary btn-sm">
        <span class="icon mdi mdi-arrow-expand"></span>
        <span>Expand All</span>
      </button>
      <button (click)="logFlatStructure()" class="btn btn-outline-secondary btn-sm">
        <span>Log Flat Structure</span>
      </button>
      <button (click)="logHierarchicalStructure()" class="btn btn-outline-secondary btn-sm">
        <span>Log Hierarchical Structure</span>
      </button>
      <button (click)="dynamicallyChangeFilter()" class="btn btn-outline-secondary btn-sm">
        <span>Dynamically Change Filter (% complete &lt; 40)</span>
      </button>
    </div>
  </div>

  <br />

  <angular-slickgrid gridId="grid28"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event)">
  </angular-slickgrid>
</div>