<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-angular.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle"
       [innerHTML]="subTitle"></div>

  <div class="col-sm-6">
    <label>autoEdit setting: </label>
    <span id="radioAutoEdit">
      <label class="radio-inline control-label"
             for="radioTrue">
        <input type="radio"
               name="inlineRadioOptions"
               id="radioTrue"
               checked
               [value]="isAutoEdit"
               (change)="setAutoEdit(true)"> ON (single-click)
      </label>
      <label class="radio-inline control-label"
             for="radioFalse">
        <input type="radio"
               name="inlineRadioOptions"
               id="radioFalse"
               [value]="isAutoEdit"
               (change)="setAutoEdit(false)"> OFF (double-click)
      </label>
    </span>
    <div class="row col-sm-12">
      <span>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="undo()">
          <i class="mdi mdi-undo"></i>
          Undo last edit(s)
        </button>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="angularGrid.filterService.clearFilters()">
          Clear Filters
        </button>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="angularGrid.sortService.clearSorting()">
          Clear Sorting
        </button>
        <label class="checkbox-inline control-label" for="autoCommitEdit">
          <input type="checkbox" id="autoCommitEdit" data-test="auto-commit"
                 [checked]="gridOptions.autoCommitEdit"
                 (click)="changeAutoCommit()">
          Auto Commit Edit
        </label>
      </span>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="alert alert-info" *ngIf="updatedObject">
      <strong>Updated Item:</strong> {{updatedObject | json}}
    </div>
    <div class="alert alert-warning" *ngIf="alertWarning">
      <strong>Updated Item:</strong> {{alertWarning}}
    </div>
  </div>

  <div class="col-sm-12">
    <angular-slickgrid gridId="grid22"
                       [columnDefinitions]="columnDefinitions"
                       [gridOptions]="gridOptions"
                       [dataset]="dataset"
                       (onAngularGridCreated)="angularGridReady($event.detail)"
                       (onCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
                       (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
                       (onValidationError)="onCellValidationError($event.detail.eventData, $event.detail.args)">
    </angular-slickgrid>
  </div>
</div>