<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-state.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="reset-button" (click)="clearGridStateFromLocalStorage()">
    <i class="mdi mdi-close"></i>
    Clear Grid State from Local Storage &amp; Reset Grid
  </button>

  <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="switchLanguage()" data-test="language-button">
    <i class="mdi mdi-translate"></i>
    Switch Language
  </button>
  <b>Locale:</b>
  <span style="font-style: italic" data-test="selected-locale">
    {{selectedLanguage + '.json'}}
  </span>

  <angular-slickgrid gridId="grid16"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event.detail)"
                     (onGridStateChanged)="gridStateChanged($event.detail)"
                     (onBeforeGridDestroy)="saveCurrentGridState()">
  </angular-slickgrid>
</div>