:root {
  // turn on/off the following variables to see the difference in styling

  // --slick-row-based-edit-editmode-bgcolor: rgb(82, 235, 158);
  // --slick-row-based-edit-editmode-hover-bgcolor: cyan;
  // --slick-row-based-edit-unsaved-cell-bgcolor: rgb(190, 114, 127);
  // --slick-row-based-edit-editmode-active-bgcolor: rgb(82, 235, 158);
  // --slick-row-based-edit-editmode-active-hover-bgcolor: cyan;
}

.alert {
  padding: 8px;
  margin-bottom: 10px
}

.status-container {
  min-height: 50px;
}
