<div id="demo-container" class="container-fluid">
  <h2>
    {{ title }}
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-graphql-nopage.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button
      class="ms-2 btn btn-outline-secondary btn-sm btn-icon"
      type="button"
      data-test="toggle-subtitle"
      (click)="toggleSubTitle()"
    >
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
  </h2>
  <div class="subtitle row">
    <div class="col-12" [innerHTML]="subTitle"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div [class]="status.class" role="alert" data-test="status">
        <strong>Status: </strong> {{ status.text }}
        <span [hidden]="!processing">
          <i class="mdi mdi-sync mdi-spin-1s"></i>
        </span>
      </div>
    </div>
  </div>

  <angular-slickgrid
    gridId="grid27"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($event.detail)"
  >
  </angular-slickgrid>
</div>
