<div class="container-fluid">
  <h2>
    {{title}}
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-rowselection.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="row">
    <div class="col-sm-4" style="max-width: 170px;">
      Pagination
      <button class="btn btn-outline-secondary btn-xs" data-test="goto-first-page" (click)="goToGrid1FirstPage()">
        <i class="fa fa-caret-left fa-lg"></i>
      </button>
      <button class="btn btn-outline-secondary btn-xs" data-test="goto-last-page" (click)="goToGrid1LastPage()">
        <i class="fa fa-caret-right fa-lg"></i>
      </button>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-success">
        <strong>(single select) Selected Row:</strong>
        <span [innerHTML]="selectedTitle" data-test="grid1-selections"></span>
      </div>
    </div>
  </div>

  <angular-slickgrid gridId="grid1" gridHeight="225" gridWidth="800" [columnDefinitions]="columnDefinitions1"
                     [gridOptions]="gridOptions1" [dataset]="dataset1"
                     (onAngularGridCreated)="angularGridReady1($event)"
                     (onGridStateChanged)="grid1StateChanged($event)"
                     (sgOnSelectedRowsChanged)="handleSelectedRowsChanged1($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>

  <hr>

  <div class="row">
    <div class="col-sm-4 col-md-3" style="max-width: 185px;">
      Pagination: <input type="checkbox" (change)="togglePaginationGrid2()" [checked]="isGrid2WithPagination"
             data-test="toggle-pagination-grid2" />
      <span style="margin-left: 5px" *ngIf="isGrid2WithPagination">
        <button class="btn btn-outline-secondary btn-xs" data-test="goto-first-page" (click)="goToGrid2FirstPage()">
          <i class="fa fa-caret-left fa-lg"></i>
        </button>
        <button class="btn btn-outline-secondary btn-xs" data-test="goto-last-page" (click)="goToGrid2LastPage()">
          <i class="fa fa-caret-right fa-lg"></i>
        </button>
      </span>
    </div>
    <div class="col-sm-7">
      <div class="alert alert-success">
        <strong>(multi-select) Selected Row(s):</strong>
        <span [innerHTML]="selectedTitles" data-test="grid2-selections"></span>
      </div>
    </div>
  </div>

  <angular-slickgrid gridId="grid2"
                     gridHeight="255"
                     gridWidth="800"
                     [columnDefinitions]="columnDefinitions2"
                     [gridOptions]="gridOptions2"
                     [dataset]="dataset2"
                     (onAngularGridCreated)="angularGridReady2($event)"
                     (onGridStateChanged)="grid2StateChanged($event)">
  </angular-slickgrid>
</div>
