<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-localization.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <hr />

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-outline-secondary btn-sm" data-test="language-button" (click)="switchLanguage()">
        <i class="fa fa-language"></i>
        Switch Language
      </button>
      <b>Locale:</b> <span style="font-style: italic" data-test="selected-locale">{{selectedLanguage + '.json'}}</span>

      <span style="margin-left: 20px">
        <button class="btn btn-outline-secondary btn-sm" (click)="exportToFile('csv')">
          <i class="fa fa-download"></i>
          Download to CSV
        </button>
        <button class="btn btn-outline-secondary btn-sm" (click)="exportToFile('txt')">
          <i class="fa fa-download"></i>
          Download to Text
        </button>
        <button class="btn btn-outline-secondary btn-sm" (click)="exportToExcel()">
          <i class="fa fa-file-excel-o text-success"></i>
          Download to Excel
        </button>
        <button class="btn btn-outline-secondary btn-sm" (click)="dynamicallyAddTitleHeader()">
          <i class="fa fa-plus"></i>
          Dynamically Duplicate Title Column
        </button>
      </span>
    </div>
  </div>

  <div class="col-sm-12">
    <angular-slickgrid gridId="grid12"
                       [dataset]="dataset"
                       [gridOptions]="gridOptions"
                       [columnDefinitions]="columnDefinitions"
                       (onAngularGridCreated)="angularGridReady($event)"
                       (onGridStateChanged)="gridStateChanged($event)">
    </angular-slickgrid>
  </div>
</div>
