<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle row" [innerHTML]="subTitle"></div>

    <div class="row">
        <div class="col-sm-4">
            <div [class]="status.class" role="alert">
                <strong>Status: </strong> {{status.text}}
                <span [hidden]="!processing">
                    <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                </span>
            </div>

            <div class="form-inline">
                <b>With Cursor:</b>
                <span id="radioWithCursor">
                    <label class="radio-inline control-label" for="radioTrue">
                        <input type="radio" name="inlineRadioOptions" id="radioTrue" value="true" (change)="onWithCursorChange(true)"> True
                    </label>
                    <label class="radio-inline control-label" for="radioFalse">
                        <input type="radio" name="inlineRadioOptions" id="radioFalse" checked value="false" (change)="onWithCursorChange(false)"> False
                    </label>
                </span>
            </div>
            <br/>

            <button class="btn btn-default btn-sm" (click)="switchLanguage()">Switch Language</button>
            <b>Locale:</b>
            <span style="font-style: italic">{{selectedLanguage + '.json'}}</span>

        </div>
        <div class="col-sm-8">
            <div class="alert alert-info">
                <strong>GraphQL Query:</strong>
                <div [innerHTML]="graphqlQuery"></div>
            </div>
        </div>
    </div>

    <angular-slickgrid gridId="grid4" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset">
    </angular-slickgrid>
</div>
