<div class="container-fluid">
  <h2>
    {{title}}
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-resize-by-content.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <h4 class="ml-3">Container Width (950px)</h4>

  <div class="row">
    <div class="ml-2 mb-2 mr-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary {{isUsingDefaultResize ? 'active' : ''}}"
               data-test="autosize-columns-btn">
          <input type="radio" name="options"
                 [checked]="isUsingDefaultResize"
                 (click)="handleDefaultResizeColumns()">
          <i class="fa fa-expand"></i> (default resize) by "autosizeColumns"
        </label>
        <label class="btn btn-sm btn-outline-secondary {{isUsingDefaultResize ? '' : 'active'}}"
               data-test="resize-by-content-btn">
          <input type="radio" name="options"
                 [checked]="!isUsingDefaultResize"
                 (click)="handleNewResizeColumns()">
          <i class="fa fa-expand"></i> Resize by Cell Content
        </label>
      </div>
    </div>

    <div class="mb-2">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic Editing Commands">
        <button type="button" class="btn btn-outline-secondary" data-test="toggle-readonly-btn"
                (click)="toggleGridEditReadonly()">
          <i class="fa fa-table"></i> Toggle Edit/Readonly Grid
        </button>
        <button type="button" class="btn btn-outline-secondary" data-test="undo-last-edit-btn"
                (click)="undoLastEdit()">
          <i class="fa fa-undo"></i> Undo Last Edit
        </button>
        <button type="button" class="btn btn-outline-secondary" data-test="save-all-btn"
                (click)="saveAll()">
          <i class="fa fa-save"></i> Save All
        </button>
      </div>
    </div>
  </div>

  <div id="smaller-container" style="width: 950px">
    <angular-slickgrid gridId="grid30"
                       [columnDefinitions]="columnDefinitions"
                       [gridOptions]="gridOptions"
                       [dataset]="dataset"
                       (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>
</div>
