.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: grey;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 235, 52);
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: #ccc;
}

.fake-hyperlink {
  cursor: pointer;
  color: #08c;
}

.row.locale {
  margin-top: 5px;
}

span.cell-menu {
  margin-left: 15px;
}
