<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle" [innerHTML]="subTitle"></div>

    <div class="col-md-6" style="margin-bottom: 15px">
            <label>Octopart Catalog Search <small>(type a word then press ENTER)</small></label>
            <input type="text" class="form-control" [value]="search" (change)="searchChanged($event.target.value)">
    </div>

    <div class="alert alert-warning col-md-6"
        role="alert"
        *ngIf="loading">
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        <span>Loading...</span>
    </div>

    <angular-slickgrid
        gridId="grid18"
        [columnDefinitions]="columnDefinitions"
        [gridOptions]="gridOptions"
        [dataset]="dataset"
        [customDataView]="customDataView"
        (onAngularGridCreated)="angularGridReady($event)"
        (sgOnViewportChanged)="onViewportChanged($event.detail.eventData, $event.detail.args)"
        (sgOnSort)="onSort($event.detail.eventData, $event.detail.args)">
    </angular-slickgrid>
  </div>
