#grid43 {
  --slick-border-color: #d4d4d4;
  // --slick-cell-border-left: 1px solid var(--slick-border-color);
  --slick-header-menu-display: none;
  --slick-header-column-height: 20px;
  --slick-grid-border-color: #d4d4d4;
  --slick-row-selected-color: #d4ebfd;
  --slick-cell-active-box-shadow: inset 0 0 0 1px #3ca4ff;

  --slick-row-mouse-hover-box-shadow: 0;
  --slick-cell-odd-background-color: #fff;
  --slick-cell-border-right: 1px solid var(--slick-border-color);
  --slick-cell-border-bottom: 0;
  --slick-cell-border-top: 1px solid var(--slick-border-color);
  --slick-header-filter-row-border-bottom: 1px solid var(--slick-border-color);
  --slick-cell-border-left: 0;
  --slick-cell-box-shadow: none;
  --slick-row-mouse-hover-color: #fff;
  --slick-cell-display: flex;

  .slick-cell.rowspan {
    // background: white;
    z-index: 9;
  }
  .slick-cell {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
}
