.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: grey;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 235, 52);
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: #ccc;
}

.cell-menu-dropdown-outline {
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  width: max-content;
  padding: 2px 14px;
  cursor: pointer;
  &:hover {
    background-color: #a3a3a3;
    color: #ffffff;
  }

  .fa-caret-down {
    margin-left: 5px;
  }
}

.row.locale {
  margin-top: 5px;
}

span.cell-menu {
  margin-left: 15px;
}
