<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h2>{{title}}</h2>
    <div class="subtitle" [innerHTML]="subTitle"></div>

    <div class="row">
        <div class="col-sm-8">
          <div class="alert alert-success">
            <strong>(single select) Selected Row:</strong>
            <div [innerHTML]="selectedTitle"></div>
          </div>
        </div>
    </div>

    <angular-slickgrid gridId="grid1"
            (onGridCreated)="gridReady1($event)"
            [columnDefinitions]="columnDefinitions1"
            [gridOptions]="gridOptions1"
            gridHeight="200"
            gridWidth="800"
            [dataset]="dataset1">
    </angular-slickgrid>

    <hr>

    <div class="row">
        <div class="col-sm-8">
          <div class="alert alert-success">
            <strong>(multi-select) Selected Row(s):</strong>
            <div [innerHTML]="selectedTitles"></div>
          </div>
        </div>
    </div>

    <angular-slickgrid gridId="grid2"
            (onGridCreated)="gridReady2($event)"
            [columnDefinitions]="columnDefinitions2"
            [gridOptions]="gridOptions2"
            gridHeight="200"
            gridWidth="800"
            [dataset]="dataset2">
    </angular-slickgrid>
  </div>
