<div class="container-fluid">
  <h2>{{title}}</h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <br />
  <span *ngIf="metrics" style="margin-right: 10px">
    <b>Metrics:</b> {{metrics.startTime | date: 'yyyy-MM-dd HH:mm aaaaa\'m\''}} | {{metrics.itemCount}} of
    {{metrics.totalItemCount}} items
  </span>
  <button class="btn btn-default btn-sm" data-test="clear-filters" (click)="angularGrid.filterService.clearFilters()">
    Clear Filters
  </button>
  <button class="btn btn-default btn-sm" data-test="clear-sorting" (click)="angularGrid.sortService.clearSorting()">
    Clear Sorting
  </button>
  <button class="btn btn-default btn-sm" data-test="set-dynamic-filter" (click)="setFiltersDynamically()">
    Set Filters Dynamically
  </button>
  <button class="btn btn-default btn-sm" data-test="set-dynamic-sorting" (click)="setSortingDynamically()">
    Set Sorting Dynamically
  </button>
  <button class="btn btn-default btn-sm" (click)="switchLanguage()" data-test="language">
    <i class="fa fa-language"></i>
    Switch Language
  </button>
  <b>Locale:</b> <span style="font-style: italic" data-test="selected-locale">{{selectedLanguage + '.json'}}</span>

  <angular-slickgrid gridId="grid25" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
    [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event)"
    (onGridStateChanged)="gridStateChanged($event)" (onBeforeGridDestroy)="saveCurrentGridState($event)"
    (sgOnRowCountChanged)="refreshMetrics($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>
