<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle" [innerHTML]="subTitle"></div>

    <button class="btn btn-default btn-sm" (click)="switchLanguage()">
        <i class="fa fa-language"></i>
        Switch Language
    </button>

    <div class="col-sm-12">
        <angular-slickgrid gridId="grid2"
            (onAngularGridCreated)="angularGridReady($event)"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="dataset">
        </angular-slickgrid>
    </div>
</div>
