/* make sure to add the @import the SlickGrid Theme AFTER the variables changes */
// @import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.lite.scss';

#grid28 {
  .slick-cell {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}
