<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-basic.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <h3>Grid 1</h3>
  <angular-slickgrid gridId="grid1"
                     [columnDefinitions]="columnDefinitions1"
                     [gridOptions]="gridOptions1"
                     [dataset]="dataset1"
                     gridHeight="225"
                     gridWidth="800">
  </angular-slickgrid>

  <hr />

  <h3>Grid 2 <small>(with local Pagination)</small></h3>
  <angular-slickgrid gridId="grid2"
                     [columnDefinitions]="columnDefinitions2"
                     [gridOptions]="gridOptions2"
                     [dataset]="dataset2"
                     gridHeight="225"
                     gridWidth="800">
  </angular-slickgrid>
</div>
