<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-formatter.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle"
       [innerHTML]="subTitle"></div>

  <button class="btn btn-outline-secondary btn-sm btn-icon"
          (click)="togglePauseResizer()">
    Pause auto-resize: <b>{{resizerPaused}}</b>
  </button>

  <angular-slickgrid gridId="grid2"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event.detail)">
  </angular-slickgrid>
</div>