.duration-bg {
  background-color: #e9d4f1 !important;
}

.grey {
  color: grey;
}
.orange {
  color: orange;
}
.red {
  color: red;
}

#contextMenu {
  position:absolute;
  background: #ffffff;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;
  min-width: 150px;
  z-index: 99999;

  .title {
    display: inline-block;
    font-size: 16px;
    width: calc(100% - 10px);
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 5px;
  }

  li {
    border: 1px solid transparent;
    padding: 4px 4px 4px 14px;
    list-style: none;
    cursor: pointer;

    &:hover {
      border: 1px solid #cccccc;
    }
  }
}
