<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle" [innerHTML]="subTitle"></div>

    <angular-slickgrid gridId="grid2"
              [columnDefinitions]="columnDefinitions"
              [gridOptions]="gridOptions"
              [dataset]="dataset"
              (onAngularGridCreated)="angularGridReady($event)"
              (onGridStateServiceChanged)="gridStateChanged($event)"
              (onBeforeGridDestroy)="saveCurrentGridState($event)">
    </angular-slickgrid>
  </div>
