<div class="container-fluid">
  <h2>{{title}}</h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <hr />

  <div class="row col-sm-12">
    <button class="btn btn-default btn-sm" (click)="switchLanguage()">
      <i class="fa fa-language"></i>
      Switch Language
    </button>
    <b>Locale:</b> <span style="font-style: italic">{{selectedLanguage + '.json'}}</span>

    <span style="margin-left: 20px">
      <button class="btn btn-default btn-sm" (click)="exportToFile('csv')">
        <i class="fa fa-download"></i>
        Download to CSV
      </button>
      <button class="btn btn-default btn-sm" (click)="exportToFile('txt')">
        <i class="fa fa-download"></i>
        Download to Text
      </button>
      <button class="btn btn-default btn-sm" (click)="exportToExcel()">
        <i class="fa fa-file-excel-o text-success"></i>
        Download to Excel
      </button>
    </span>
    <span style="margin-left: 10px">
      <button class="btn btn-default btn-sm" (click)="dynamicallyAddTitleHeader()">
        <i class="fa fa-plus"></i>
        Dynamically Duplicate Title Column
      </button>
    </span>
  </div>

  <div class="col-sm-12">
    <angular-slickgrid gridId="grid12"
                       (onAngularGridCreated)="angularGridReady($event)"
                       [columnDefinitions]="columnDefinitions"
                       [gridOptions]="gridOptions"
                       [dataset]="dataset">
    </angular-slickgrid>
  </div>
</div>
