<div class="container-fluid">
  <h2>{{title}}</h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <br />
  <span *ngIf="metrics" style="margin-right: 10px">
    <b>Metrics:</b> {{metrics.startTime | date: 'yyyy-MM-dd HH:mm aaaaa\'m\''}} | {{metrics.itemCount}} of
    {{metrics.totalItemCount}} items
  </span>
  <button class="btn btn-default btn-sm" (click)="angularGrid.filterService.clearFilters()">Clear Filters</button>
  <button class="btn btn-default btn-sm" (click)="angularGrid.sortService.clearSorting()">Clear Sorting</button>
  <button class="btn btn-default btn-sm" (click)="setSomeFilters()">Set Some Filters</button>

  <angular-slickgrid gridId="grid2" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
    [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event)"
    (onGridStateChanged)="gridStateChanged($event)" (onBeforeGridDestroy)="saveCurrentGridState($event)"
    (sgOnRowCountChanged)="refreshMetrics($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>
