<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle" [innerHTML]="subTitle"></div>

    <br/>
    <span *ngIf="statistics" style="margin-right: 10px">
        <b>Statistics:</b> {{statistics.startTime | date: 'yyyy-MM-dd HH:mm aaaaa\'m\''}} | {{statistics.itemCount}} of {{statistics.totalItemCount}} items
    </span>
    <button class="btn btn-default btn-sm" (click)="angularGrid.filterService.clearFilters()">Clear Filters</button>
    <button class="btn btn-default btn-sm" (click)="angularGrid.sortService.clearSorting()">Clear Sorting</button>

    <angular-slickgrid gridId="grid2"
              [columnDefinitions]="columnDefinitions"
              [gridOptions]="gridOptions"
              [dataset]="dataset"
              (onAngularGridCreated)="angularGridReady($event)"
              (onGridStateChanged)="gridStateChanged($event)"
              (onBeforeGridDestroy)="saveCurrentGridState($event)"
              (sgOnRowCountChanged)="refreshStatistics($event.detail.eventData, $event.detail.args)">
    </angular-slickgrid>
  </div>
