<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-right">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-headerbutton.component.ts">
        <span class="fa fa-link"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="col-sm-12">
    <angular-slickgrid gridId="grid7"
                       [columnDefinitions]="columnDefinitions"
                       [gridOptions]="gridOptions"
                       [dataset]="dataset"
                       (onDataviewCreated)="dataviewReady($event)"
                       (onGridCreated)="gridReady($event)">
    </angular-slickgrid>
  </div>
</div>
