<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <button class="btn btn-outline-secondary btn-sm ms-3" (click)="toggleDarkMode()"
          data-test="toggle-dark-mode">
      <span class="mdi mdi-theme-light-dark"></span>
      <span>Toggle Dark Mode</span>
    </button>
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-composite-editor.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="mb-2">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic Editing Commands">
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="toggle-readonly-btn"
              (click)="toggleGridEditReadonly()">
        <i class="mdi mdi-table-edit"></i> Toggle Edit/Readonly Grid
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="undo-last-edit-btn"
              (click)="undoLastEdit()">
        <i class="mdi mdi-undo"></i> Undo Last Edit
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="undo-open-editor-btn"
              (click)="undoLastEdit(true)">
        <i class="mdi mdi-undo"></i> Undo Last Edit &amp; Open Editor
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="undo-all-edits-btn"
              (click)="undoAllEdits()">
        <i class="mdi mdi-history"></i> Undo All Edits
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="save-all-btn"
              (click)="saveAll()">
          <span>Save All</span>
      </button>
    </div>
  </div>

  <div class="mb-3">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="open-modal-create-btn"
              (click)="openCompositeModal('create')" [disabled]="isCompositeDisabled">
        <i class="mdi mdi-shape-square-plus"></i> Item Create
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="open-modal-clone-btn"
              (click)="openCompositeModal('clone')" [disabled]="isCompositeDisabled">
        <i class="mdi mdi-content-copy"></i> Item Clone
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="open-modal-edit-btn"
              (click)="openCompositeModal('edit')" [disabled]="isCompositeDisabled">
        <i class="mdi mdi-pencil"></i> Item Edit
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="open-modal-mass-update-btn"
              (click)="openCompositeModal('mass-update')" [disabled]="isCompositeDisabled">
        <i class="mdi mdi-pencil-box-multiple-outline"></i> Mass Update
      </button>
      <button type="button" class="btn btn-outline-secondary btn-icon" data-test="open-modal-mass-selection-btn"
              (click)="openCompositeModal('mass-selection')" [disabled]="isMassSelectionDisabled">
        <i class="mdi mdi-order-bool-ascending-variant"></i> Update Selected
      </button>
    </div>
  </div>

  <angular-slickgrid gridId="grid30"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event.detail)"
                     (onBeforeEditCell)="handleOnBeforeEditCell($event.detail.eventData, $event.detail.args)"
                     (onCellChange)="handleOnCellChange($event.detail.eventData, $event.detail.args)"
                     (onClick)="handleOnCellClicked($event.detail.eventData, $event.detail.args)"
                     (onCompositeEditorChange)="handleOnCompositeEditorChange($event.detail.eventData, $event.detail.args)"
                     (onItemDeleted)="handleItemDeleted($event.detail)"
                     (onGridStateChanged)="handleOnGridStateChanged($event.detail)"
                     (onPaginationChanged)="handleReRenderUnsavedStyling()"
                     (onFilterChanged)="handleReRenderUnsavedStyling()"
                     (onValidationError)="handleValidationError($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>