// You can change the SVG color using their associated SASS $icon-color-mdi-XYZ
$icon-width-mdi-plus: 14px;
$icon-width-mdi-arrow-collapse: 14px;
$icon-width-mdi-arrow-expand: 14px;

/* make sure to add the @import the SlickGrid Theme AFTER the variables changes */
@import '../modules/angular-slickgrid/styles/slickgrid-theme-material.scss';

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
