$slick-button-border-color: #ababab !default;

.editable-field {
  // box-shadow: inset 0 0 0 1px lightblue !important;
  background-color: rgba(227, 240, 251, 0.57) !important;
}
.slick-dark-mode .editable-field {
  background-color: rgba(105, 123, 145, 0.57) !important
}
.unsaved-editable-field {
  background-color: #fbfdd1 !important;
}
.slick-dark-mode .unsaved-editable-field {
  background-color: rgba(255, 183, 50, 0.8) !important;
  color: white;
}

.slick-dark-mode {
  --bs-btn-color: #bebebe;
}
