.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: grey;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: #ccc;
}

.fake-hyperlink {
  cursor: pointer;
  color: #08c;
}
