<div id="demo-container" class="container-fluid">
  <h2>
    {{ title }}
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-header-footer.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button
      class="ms-2 btn btn-outline-secondary btn-sm btn-icon"
      type="button"
      data-test="toggle-subtitle"
      (click)="hideSubTitle = !hideSubTitle"
    >
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
  </h2>
  <div class="subtitle" [hidden]="hideSubTitle" [innerHTML]="subTitle"></div>

  <angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset">
    <ng-template #slickgridHeader>
      <h3>Grid with header and footer slot</h3>
    </ng-template>

    <ng-template #slickgridFooter>
      <custom-footer></custom-footer>
    </ng-template>
  </angular-slickgrid>
</div>
