<div class="container-fluid">
    <h2>{{title}}</h2>
    <div class="subtitle row" [innerHTML]="subTitle"></div>

    <div class="row">
        <div class="col-sm-4">
            <div [class]="status.class" role="alert">
                <strong>Status: </strong> {{status.text}}
                <span [hidden]="!processing">
                    <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                </span>
            </div>

            <br/>

            <button class="btn btn-default btn-sm" (click)="switchLanguage()">Switch Language</button>
            <b>Locale:</b>
            <span style="font-style: italic">{{selectedLanguage + '.json'}}</span>
            <br/>
            <span *ngIf="statistics">
                <b>Statistics:</b> {{statistics.endTime | date: 'yyyy-MM-dd HH:mm aaaaa\'m\''}} | {{statistics.executionTime}}ms | {{statistics.totalItemCount}} items
            </span>
        </div>
        <div class="col-sm-8">
            <div class="alert alert-info">
                <strong>GraphQL Query:</strong>
                <div [innerHTML]="graphqlQuery"></div>
            </div>
        </div>
    </div>

    <angular-slickgrid gridId="grid4"
        [gridHeight]="250"
        [gridWidth]="800"
        [columnDefinitions]="columnDefinitions"
        [gridOptions]="gridOptions"
        [dataset]="dataset"
        (onAngularGridCreated)="angularGridReady($event)"
        (onGridStateChanged)="gridStateChanged($event)"
        (onBeforeGridDestroy)="saveCurrentGridState($event)">
    </angular-slickgrid>
</div>
