<div class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-range.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <br />

  <span *ngIf="metrics" style="margin-right: 10px">
    <b>Metrics:</b> {{metrics.startTime | date: 'yyyy-MM-dd hh:mm aaaaa\'m\''}} | {{metrics.itemCount}} of
    {{metrics.totalItemCount}} items
  </span>

  <form class="row row-cols-lg-auto g-1 align-items-center">
    <div class="col">
      <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="clear-filters" (click)="clearFilters()">
        Clear Filters
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="clear-sorting"
              (click)="angularGrid.sortService.clearSorting()">
        Clear Sorting
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="set-dynamic-filter" (click)="setFiltersDynamically()">
        Set Filters Dynamically
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="set-dynamic-sorting"
              (click)="setSortingDynamically()">
        Set Sorting Dynamically
      </button>
    </div>
    <div class="col">
      <label for="selectedFilter" style="margin-left: 10px">Predefined Filters</label>
    </div>
    <div class="col">
      <select name="selectedFilter" class="form-select" [(ngModel)]="selectedPredefinedFilter"
              data-test="select-dynamic-filter" (ngModelChange)="usePredefinedFilter($event)">
        <option [ngValue]="filter.value" *ngFor="let filter of filterList">{{filter.label}}</option>
      </select>
    </div>
  </form>

  <div class="row mt-2">
    <div class="col">
      <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="language" (click)="switchLanguage()">
        <i class="mdi mdi-translate"></i>
        Switch Language
      </button>
      <b>Locale:</b> <span style="font-style: italic" data-test="selected-locale">{{selectedLanguage + '.json'}}</span>
    </div>
  </div>

  <angular-slickgrid gridId="grid25"
                     [columnDefinitions]="columnDefinitions"
                     [gridOptions]="gridOptions"
                     [dataset]="dataset"
                     (onAngularGridCreated)="angularGridReady($event.detail)"
                     (onGridStateChanged)="gridStateChanged($event.detail)"
                     (onBeforeGridDestroy)="saveCurrentGridState()"
                     (onRowCountChanged)="refreshMetrics($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>