<div id="demo-container" class="container-fluid">
  <h2>
    {{title}}
    <span class="float-end">
      <a style="font-size: 18px"
         target="_blank"
         href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-basic.component.ts">
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <h3>
    <div class="column">
      <span class="mr-3">Grid 1</span>
      <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="toggleDarkModeGrid1()" data-test="toggle-dark-mode">
        <i class="mdi mdi-theme-light-dark"></i>
        <span>Toggle Dark Mode</span>
      </button>
    </div>
  </h3>

  <div class="grid-container1">
    <angular-slickgrid gridId="grid1"
                       [columnDefinitions]="columnDefinitions1"
                       [gridOptions]="gridOptions1"
                       [dataset]="dataset1"
                       (onAngularGridCreated)="angularGridReady1($event.detail)">
    </angular-slickgrid>
  </div>

  <hr />

  <h3>Grid 2 <small>(with local Pagination)</small></h3>
  <div class="grid-container">
    <angular-slickgrid gridId="grid2"
                       [columnDefinitions]="columnDefinitions2"
                       [gridOptions]="gridOptions2"
                       [dataset]="dataset2">
    </angular-slickgrid>
  </div>
</div>