$header-menu-button-border:               1px solid #cfcfcf;
$header-menu-button-border-width:         0px 1px;
$header-menu-button-icon:                 "\f0d7";
$header-menu-button-width:                16px;
$header-menu-button-padding:              10px 0 0 3px;
$sort-indicator-hint-opacity:             0;

/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */
@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-bootstrap.scss';

.blue {
  color: rgb(73, 73, 255);
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
