<div id="demo-container" class="container-fluid">
  <h2>
    {{ title }}
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/Angular-Slickgrid/blob/master/src/app/examples/grid-footer-totals.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button
      class="ms-2 btn btn-outline-secondary btn-sm btn-icon"
      type="button"
      data-test="toggle-subtitle"
      (click)="toggleSubTitle()"
    >
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
    <button class="btn btn-outline-secondary btn-sm" (click)="toggleDarkMode()" data-test="toggle-dark-mode">
      <span class="mdi mdi-theme-light-dark"></span>
      <span>Toggle Dark Mode</span>
    </button>
  </h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <angular-slickgrid
    gridId="grid37"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($event.detail)"
    (onCellChange)="handleOnCellChange($event.detail.eventData, $event.detail.args)"
    (onColumnsReordered)="handleOnColumnsReordered()"
  >
  </angular-slickgrid>
</div>
