<div class="container-fluid">
  <h3>{{model?.title}}</h3>
  <div class="row">
    <div class="col-3 detail-label"><label>Assignee:</label> <input class="form-control" [(ngModel)]="model.assignee" /></div>
    <div class="col-3 detail-label"><label>Reporter:</label> <span>{{model?.reporter}}</span></div>
    <div class="col-3 detail-label"><label>Duration:</label> <span>{{model?.duration |  number : '1.2-2'}}</span></div>
    <div class="col-3 detail-label"><label>% Complete:</label> <span>{{model?.percentComplete}}</span></div>
  </div>

  <div class="row">
    <div class="col-3 detail-label"><label>Start:</label> <span>{{model?.start | date: 'yyyy-MM-dd'}}</span></div>
    <div class="col-3 detail-label"><label>Finish:</label> <span>{{model?.finish | date: 'yyyy-MM-dd'}}</span></div>
    <div class="col-3 detail-label"><label>Effort Driven:</label> <i [class]="model?.effortDriven ? 'mdi mdi-check' : ''"></i></div>
  </div>

  <hr>

  <div class="col-sm-8">
    <h4>
      Find out who is the Assignee
      <small>
        <button class="btn btn-primary btn-sm" (click)="alertAssignee(model?.assignee)" data-test="assignee-btn">
          Click Me
        </button>
      </small>
    </h4>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary btn-danger btn-sm" (click)="deleteRow(model)" data-test="delete-btn">
      Delete Row
    </button>
    <button class="btn btn-outline-secondary btn-sm" (click)="callParentMethod(model)" data-test="parent-btn">
      Call Parent Method
    </button>
  </div>
</div>
