<div class="container-fluid" style="margin-top: 10px">
  <h2 [innerHTML]="title"></h2>
  <div class="subtitle" [innerHTML]="subTitle"></div>

  <div class="row">
    <div class="col-sm-8">
      <div class="alert alert-info">
        <strong>Custom Pagination URL:</strong>
        <div [innerHTML]="currentUrl" data-test="query-string"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <swt-common-grid-pagination #commonGridPag1></swt-common-grid-pagination>
    </div>
  </div>
  <swt-common-grid #commonGrid1
                   (onFilterChanged)="filterChanged($event)"
                   (onPaginationChanged)="paginationChanged($event)"
                   (onSortChanged)="sortChanged($event)"></swt-common-grid>
</div>
