/** Salesforce Theme (includes all external lib styling) */
@import './sass-utilities';

/**
 * This is a bare version of "slickgrid-theme-salesforce.scss",
 * Few files were removed and aren't included in this styling theme (while they are in original theme)
 * - (colors, extra-styling, material-svg-icons, material-svg-utilities, slick-without-bootstrap-min-styling)
 */

$primary-color:                                 #006DCC !default;
$highlight-color:                               #0070D2 !default;
$bare-color:                                    #b5b5b5 !default;
$icon-color:                                    #514f4d !default;
$font-family:                                   var(--lwc-fontFamily,'Salesforce Sans', 'SalesforceSans-Regular', Arial, sans-serif) !default;
$cell-active-box-shadow:                        inset 0 0 0 1px $highlight-color !default;
$cell-border-top:                               none !default;
$cell-border-bottom:                            none !default;
$cell-box-shadow:                               0px 1px 0px #dddbda, 0px -1px 0px #dddbda !default;
$cell-font-weight:                              400 !default;
$cell-odd-background-color:                     #f3f2f2 !default;
$cell-odd-background-color:                     #ffffff !default;
$cell-text-color:                               #080707 !default;
$font-size-base-value:                          13 !default;
$icon-font-size:                                18px !default;
$icon-width:                                    18px !default;
$frozen-border-right:                           2px solid $highlight-color !default;
$group-totals-formatter-color:                  #666666 !default;
$header-background-color:                       #fafaf9 !default;
$header-border-bottom:                          transparent !default;
$header-font-size:                              13px !default;
$header-font-weight:                            700 !default;
$header-text-color:                             #514f4d !default;
$header-border-bottom:                          transparent !default;
$header-filter-row-border-bottom:               1px solid #d0d0d0 !default;
$slick-pane-top-border-top:                     1px solid #d0d0d0 !default;
$header-resizable-hover:                        2px solid $highlight-color !default;
$header-resizable-hover-border-bottom:          $header-resizable-hover !default;
$header-resizable-hover-border-left:            $header-resizable-hover !default;
$header-resizable-hover-border-right:           $header-resizable-hover !default;
$header-resizable-hover-border-top:             $header-resizable-hover !default;
$header-resizable-hover-width:                  4px !default;
$header-resizable-hover-border-radius:          8px !default;
$header-resizable-hover-right:                  0 !default;
$header-resizable-hover-opacity:                0.5 !default;
$container-border-top:                          1px solid #ccc !default;
$container-border-bottom:                       1px solid #ccc !default;
$container-border-left:                         0px solid #ccc !default;
$container-border-right:                        0px solid #ccc !default;
$icon-sort-color:                               $highlight-color !default;
$icon-sort-asc:                                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-sort-color)}" viewBox="0 0 24 24"><path d="M19.1 9.7c.4-.4.4-.9 0-1.3l-6.9-6.7c-.4-.4-.9-.4-1.3 0L4 8.4c-.4.4-.4.9 0 1.3l1.3 1.2c.3.4.9.4 1.3 0l2.1-2.1c.4-.4 1-.1 1 .4v12.5c0 .5.5.9 1 .9h1.8c.5 0 .9-.5.9-.9V9.2c0-.5.7-.8 1-.4l2.2 2.1c.4.4.9.4 1.3 0l1.2-1.2z"></path></svg>') !default;
$icon-sort-desc:                                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-sort-color)}" viewBox="0 0 24 24"><path d="M4.4 14.3c-.3.4-.3.9 0 1.3l7 6.7c.3.4.9.4 1.2 0l7-6.7c.4-.4.4-.9 0-1.3l-1.3-1.2c-.3-.4-.9-.4-1.3 0l-2.1 2.1c-.4.4-1.1.1-1.1-.4V2.3c0-.5-.4-.9-.9-.9h-1.8c-.5 0-.9.5-.9.9v12.5c0 .5-.7.8-1.1.4L7 13.1c-.4-.4-1-.4-1.3 0l-1.3 1.2z"></path></svg>') !default;
$icon-sort-font-size:                           13px !default;
$icon-sort-width:                               13px !default;
$icon-sort-position-right:                      12px !default;
$checkbox-selector-checked-color:               $highlight-color !default;
$checkbox-selector-unchecked-color:             $bare-color !default;
$checkbox-selector-size:                        12px !default;
$checkbox-selector-icon-font-weight:            normal !default;
$checkbox-selector-icon-height:                 calc(#{$checkbox-selector-size} + 4px) !default;
$checkbox-selector-icon-width:                  calc(#{$checkbox-selector-size} + 4px) !default;
$checkbox-selector-icon-margin:                 2px 0 0 0 !default;
$checkbox-selector-icon-border:                 1px solid #d6d4d4 !default;
$checkbox-selector-icon-border-radius:          0.125rem !default;
$checkbox-selector-icon-bg-color:               white !default;
$checkbox-selector-color:                       $highlight-color !default;
$checkbox-selector-icon-checked:                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($checkbox-selector-color)}" viewBox="0 0 24 24"><path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z"></path></svg>') !default;
$checkbox-selector-icon-unchecked:              url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="transparent" viewBox="0 0 24 24"><path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path></svg>') !default;
$checkbox-selector-opacity:                     1 !default;
$checkbox-selector-opacity-hover:               0.9 !default;
$column-picker-checkbox-color:                  $primary-color !default;
$column-picker-checkbox-size:                   $icon-width !default;
$column-picker-checkbox-font-weight:            normal !default;
$column-picker-checkbox-icon-checked:           url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($column-picker-checkbox-color)}" viewBox="0 0 24 24"><path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3 1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7 0 1L9.8 19.6c-.2.3-.7.3-1 0z"></path></svg>') !default;
$column-picker-checkbox-icon-unchecked:         $column-picker-checkbox-icon-checked !default;
$column-picker-checkbox-width:                  13px !default;
$column-picker-close-btn-font-size:             23px !default;
$column-picker-title-font-size:                 18px !default;
$cell-menu-icon-margin-right:                   6px !default;
$cell-menu-close-btn-height:                    14px !default;
$cell-menu-close-btn-margin:                    -4px 1px 1px 1px !default;
$cell-menu-title-font-size:                     18px !default;
$context-menu-item-font-size:                   16px !default;
$context-menu-icon-font-size:                   16px !default;
$context-menu-icon-margin-right:                5px !default;
$icon-group-color:                              $primary-color !default;
$icon-group-collapsed:                          url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-group-color)}" viewBox="0 0 24 24"><path d="M8.3 2l9.5 9.5c.3.3.3.7 0 1L8.3 22c-.3.2-.8.2-1.1 0l-1-1c-.2-.3-.2-.8 0-1.1l7.6-7.4c.2-.3.2-.7 0-1L6.3 4.1C6 3.8 6 3.3 6.3 3l1-1c.3-.2.7-.2 1 0z"></path></svg>') !default;
$icon-group-expanded:                           url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-group-color)}" viewBox="0 0 24 24"><path d="M22 8.2l-9.5 9.6c-.3.2-.7.2-1 0L2 8.2c-.2-.3-.2-.7 0-1l1-1c.3-.3.8-.3 1.1 0l7.4 7.5c.3.3.7.3 1 0l7.4-7.5c.3-.2.8-.2 1.1 0l1 1c.2.3.2.7 0 1z"></path></svg>') !default;
$icon-group-font-weight:                        normal !default;
$icon-group-margin-right:                       4px !default;
$draggable-group-drop-width:                    100% !default;
$draggable-group-drop-radius:                   0 !default;
$draggable-group-delete-vertical-align:         middle !default;
$draggable-group-toggle-collapsed-icon:         $icon-group-collapsed !default;
$draggable-group-toggle-expanded-icon:          $icon-group-expanded !default;
$draggable-group-title-height:                  24px !default;
$draggable-group-title-line-height:             24px !default;
$draggable-group-title-vertical-align:          top !default;
$grid-menu-checkbox-size:                       $column-picker-checkbox-width !default;
$grid-menu-checkbox-font-weight:                normal !default;
$grid-menu-checkbox-icon-checked:               $column-picker-checkbox-icon-checked !default;
$grid-menu-checkbox-icon-unchecked:             $column-picker-checkbox-icon-checked !default;
$grid-menu-checkbox-margin-right:               5px !default;
$grid-menu-checkbox-width:                      $column-picker-checkbox-width !default;
$grid-menu-icon-font-size:                      18px !default;
$grid-menu-icon-width:                          18px !default;
$grid-menu-title-font-size:                     18px !default;
$header-menu-button-icon-font-size:             26px !default;
$header-menu-button-icon-color:                 #706e6b !default;
$header-menu-button-icon:                       url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($header-menu-button-icon-color)}" viewBox="0 0 24 24"><path d="M22 8.2l-9.5 9.6c-.3.2-.7.2-1 0L2 8.2c-.2-.3-.2-.7 0-1l1-1c.3-.3.8-.3 1.1 0l7.4 7.5c.3.3.7.3 1 0l7.4-7.5c.3-.2.8-.2 1.1 0l1 1c.2.3.2.7 0 1z"></path></svg>') !default;
$header-menu-button-margin-right:               8px !default;
$header-menu-display:                           inline-block !default;
$header-menu-icon-margin-right:                 6px !default;
$header-menu-icon-font-size:                    $icon-width !default;
$header-menu-icon-width:                        $icon-width !default;
$autocomplete-loading-icon-color:               $icon-color !default;
$autocomplete-loading-icon:                     url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($autocomplete-loading-icon-color)}" viewBox="0 0 24 24"><path d="M16,13V11H21V13H16M14.83,7.76L17.66,4.93L19.07,6.34L16.24,9.17L14.83,7.76M11,16H13V21H11V16M11,3H13V8H11V3M4.93,17.66L7.76,14.83L9.17,16.24L6.34,19.07L4.93,17.66M4.93,6.34L6.34,4.93L9.17,7.76L7.76,9.17L4.93,6.34M8,13H3V11H8V13M19.07,17.66L17.66,19.07L14.83,16.24L16.24,14.83L19.07,17.66Z"></path></svg>') !default;
$autocomplete-loading-icon-width:               22px !default;
$autocomplete-loading-icon-margin-left:         -26px !default;
$autocomplete-loading-icon-line-height:         0px !default;
$autocomplete-loading-icon-vertical-align:      sub !default;
$compound-filter-operator-select-border:        1px solid #6cb6ff !default;
$multiselect-icon-arrow-font-size:              $icon-font-size - 4px !default;
$multiselect-icon-checked-color:                $highlight-color !default;
$multiselect-icon-border:                       1px solid #d6d4d4 !default;
$multiselect-icon-height:                       15px !default;
$multiselect-icon-width:                        15px !default;
$multiselect-icon-margin:                       0px 4px 2px 0 !default;
$multiselect-icon-border-radius:                0.125rem !default;
$multiselect-icon-unchecked-color:              $bare-color !default;
$multiselect-icon-radio-color:                  $highlight-color !default;
$multiselect-icon-checked:                      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($multiselect-icon-checked-color)}" viewBox="0 0 24 24"><path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z"></path></svg>') !default;
$multiselect-icon-unchecked:                    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="transparent" viewBox="0 0 24 24"><path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path></svg>') !default;
$multiselect-icon-radio-checked:                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($multiselect-icon-radio-color)}" viewBox="0 0 24 24"><path d="M12 3.7c4.6 0 8.3 3.7 8.3 8.3s-3.7 8.3-8.3 8.3-8.3-3.7-8.3-8.3S7.4 3.7 12 3.7z"></path></svg>') !default;
$multiselect-icon-radio-unchecked:              url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="transparent" viewBox="0 0 24 24"><path d="M12 3.7c4.6 0 8.3 3.7 8.3 8.3s-3.7 8.3-8.3 8.3-8.3-3.7-8.3-8.3S7.4 3.7 12 3.7z"></path></svg>') !default;
$multiselect-icon-font-size:                    10px !default;
$multiselect-icon-radio-border-radius:          50% !default;
$multiselect-unchecked-opacity:                 0.8 !default;
$preheader-border-right:                        1px solid #e8e8e8 !default;
$preheader-grouped-title-justify:               center !default;
$preheader-font-size:                           14px !default;
$preheader-height:                              21px !default;
$row-move-plugin-icon-color:                    $cell-text-color !default;
$row-move-plugin-cursor:                        grab !default;
$row-move-plugin-icon-width:                    18px !default;
$row-move-plugin-icon:                          url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($row-move-plugin-icon-color)}" viewBox="0 0 24 24"><path d="M10,13H22V11H10M10,19H22V17H10M10,7H22V5H10M6,7H8.5L5,3.5L1.5,7H4V17H1.5L5,20.5L8.5,17H6V7Z"></path></svg>') !default;
$date-editor-clear-button-icon-color:           $icon-color !default;
$date-editor-clear-button-icon:                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($date-editor-clear-button-icon-color)}" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg>') !default;
$date-editor-clear-button-icon-margin-top:      unset !default;
$date-editor-clear-button-icon-padding:         1px 6px !default;
$date-editor-clear-button-icon-size:            calc(#{$icon-font-size} + 2px) !default;
$date-editor-clear-button-icon-vertical-align:  initial !default;
$date-editor-clear-button-icon-height:          14px !default;
$date-editor-clear-button-icon-width:           14px !default;
$editor-focus-box-shadow:                       0 0 3px $primary-color !default;
$large-editor-button-border-radius:             2px !default;
$slider-editor-height:                          24px !default;
$slider-filter-thumb-color:                     #3C97DD !default;
$slider-filter-runnable-track-bgcolor:          #ECEBEA !default;
$row-selected-color:                            darken(#f3f2f2, 2%) !default;
$row-mouse-hover-color:                         #f3f2f2 !default;
$row-mouse-hover-box-shadow:                    0 0 0 2px #dddbda !default;
$detail-view-icon-collapse-color:               $primary-color !default;
$detail-view-icon-expand-color:                 $primary-color !default;
$detail-view-icon-collapse:                     url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($detail-view-icon-collapse-color)}" viewBox="0 0 24 24"><path d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>') !default;
$detail-view-icon-expand:                       url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($detail-view-icon-expand-color)}" viewBox="0 0 24 24"><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>') !default;
$pagination-icon-color:                         $primary-color !default;
$pagination-icon-seek-first:                    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/><path d="M24 24H0V0h24v24z" fill="none"/></svg>') !default;
$pagination-icon-seek-end:                      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"/></svg>') !default;
$pagination-icon-seek-next:                     url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>') !default;
$pagination-icon-seek-prev:                     url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"> <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path></svg>') !default;
$pagination-icon-seek-first-width:              $icon-width !default;
$pagination-icon-seek-prev-width:               $icon-width !default;
$pagination-icon-seek-next-width:               $icon-width !default;
$pagination-icon-seek-end-width:                $icon-width !default;
$pagination-button-padding:                     6px 9px !default;
$pagination-button-border-radius:               2px !default;
$pagination-page-input-border-radius:           3px !default;
