$editable-field-bg-color: #e3f0fb !default;
$unsaved-editable-field-color: #fbfdd1 !default;
$font-size-count: 50;

.pointer { cursor: pointer; }
.bold { font-weight: bold; }

.grid-canvas {
  .slick-row, .slick-row.odd {
    .slick-cell.editable-field, .slick-cell.selected.editable-field {
      background-color: $editable-field-bg-color
    }
  }
}

.editable-field {
  background-color: $editable-field-bg-color
}
.unsaved-editable-field {
  background-color: $unsaved-editable-field-color !important;
}

.fake-hyperlink {
  cursor: pointer;
  color: $link-color;
  &:hover {
      text-decoration: underline;
  }
}

.delete-icon {
  &:hover {
      color: #b14c4a;
  }
}
.edit-icon,
.info-icon {
  &:hover {
      color: rgb(0, 153, 255);
  }
}

// font-5px equals a font-size of 5px, from 5px to 50px
@for $i from 5 through $font-size-count {
  .font-#{$i}px { font-size: #{$i}px; }
}

/* Text and Alignment Utilities */
.text-center { text-align: center; }
.text-left   { text-align: left;   }
.text-right  { text-align: right;  }
.text-uppercase { text-transform: uppercase;  }
.text-underline { text-decoration: underline; }

.vertical-align-bottom {
  display: inline-block;
  vertical-align: bottom;
}
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}
.vertical-align-top {
  display: inline-block;
  vertical-align: top;
}
