/* pagination/pagination variables */
@import './variables';

/* Pagination styling */
.slick-pagination {
  border-top: $pagination-border-top;
  border-right: $pagination-border-right;
  border-bottom: $pagination-border-bottom;
  border-left: $pagination-border-left;
  width: 100%;
  height: 34px;
  padding-top: 4px;
  vertical-align: middle;
  font-family: $font-family;
  font-size: ($font-size-base - 1px);
  font-weight: 400;
  color: $pagination-text-color;

  .slick-pagination-status {
    display: inline-block;
    padding: 6px;
  }

  .ui-icon-container {
    display: inline-block;
    border-color: $pagination-border-color;
  }

  .slick-pagination-nav {
    display: inline-block;
    padding: 2px;
    height: 34px;

    nav {
      display: inline-block;
    }

    .slick-page-number {
      vertical-align: top;
      margin-top: 6px;
      display: inline-block;
      padding: 0 5px;

      input {
        background-color: $pagination-page-input-bgcolor;
        height: $pagination-page-input-height;
        width: $pagination-page-input-width;
        padding: $pagination-page-input-padding;
        display: inline-block;
      }
    }

    .pagination {
      margin: 0;

      .page-link {
        font-size: ($font-size-base - 1px);
        border: $pagination-button-border;
        height: 32px;
      }

      .page-item {
        cursor: pointer;

        a[class*="icon-seek-"] {
            border-color: $pagination-button-border;
            color: $pagination-icon-color;
            text-decoration: none;
            font-family: $icon-font-family;
            -webkit-text-stroke: $pagination-icon-seek-text-stroke;
        }
        a[class*="icon-seek-"]:hover {
          background-color: $pagination-button-hover-color;
        }

        .icon-seek-first {
          &:before {
            content: $pagination-icon-seek-first;
          }
        }
        .icon-seek-prev {
          &:before {
            content: $pagination-icon-seek-prev;
          }
        }
        .icon-seek-next {
          &:before {
            content: $pagination-icon-seek-next;
          }
        }
        .icon-seek-end {
          &:before {
            content: $pagination-icon-seek-end;
          }
        }
      }
      .page-item.disabled {
        cursor: not-allowed;
        font-weight: normal;

        a[class*="icon-seek-"] {
          color: #b8b8b8;
          background-color: rgb(249, 249, 249);
          border-color: #dedede;
        }
      }
    }
  }

  .slick-pagination-settings {
    display: block;
    float: right;
    padding: 2px;

    select {
      font-size: $pagination-page-select-font-size;
      line-height: 1.5;
      height: $pagination-page-select-height;
      width: $pagination-page-select-width;
      padding: $pagination-page-select-padding;
      border: $pagination-button-border;
      border-radius: $pagination-page-select-border-radius;
    }

    .slick-pagination-count {
      margin-left: $pagination-count-margin-left;
    }
  }
}
