@import './sass-utilities';

/**
 * This is a bare version of "slickgrid-theme-material.scss",
 * Few files were removed and aren't included in this styling theme (while they are in original theme)
 * - (colors, extra-styling, material-svg-icons, material-svg-utilities, slick-without-bootstrap-min-styling)
 */

$primary-color:                             #009530 !default;
$font-family:                               Roboto, "Helvetica Neue", sans-serif !default;
$font-size-base-value:                      14 !default;
$icon-color:                                 #3f3e3e !default;
$icon-font-family:                          "Material Design Icons" !default;
$icon-font-size:                            18px !default;
$icon-width:                                18px !default;
$group-totals-formatter-color:              #666666 !default;
$cell-border-top:                           none !default;
$cell-font-weight:                          400 !default;
$cell-padding-top-bottom:                   8px !default;
$cell-padding-right-left:                   7px !default;
$cell-odd-background-color:                 #f5f5f5 !default;
$cell-text-color:                           rgba(0, 0, 0, 0.87) !default;
$header-row-filter-padding:                 8px 4px !default;
$header-font-size:                          12px !default;
$header-font-weight:                        700 !default;
$header-text-color:                         rgba(0, 0, 0, 0.87) !default;
$header-border-bottom:                      transparent !default;
$header-filter-row-border-bottom:           1px solid #d0d0d0 !default;
$header-resizable-hover:                    2px solid lighten(#48c774, 15%) !default;
$header-resizable-hover-border-bottom:      $header-resizable-hover !default;
$header-resizable-hover-border-left:        $header-resizable-hover !default;
$header-resizable-hover-border-right:       $header-resizable-hover !default;
$header-resizable-hover-border-top:         $header-resizable-hover !default;
$header-resizable-hover-width:              4px !default;
$header-resizable-hover-border-radius:      8px !default;
$header-resizable-hover-right:              0 !default;
$header-resizable-hover-opacity:            0.4 !default;
$slick-pane-top-border-top:                 1px solid #d0d0d0 !default;
$container-border-top:                      1px solid #ccc !default;
$container-border-bottom:                   1px solid #ccc !default;
$container-border-left:                     1px solid #ccc !default;
$container-border-right:                    1px solid #ccc !default;
$icon-sort-color:                           $primary-color !default;
$icon-sort-asc:                             url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-sort-color)}" viewBox="0 0 24 24"><path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path></svg>') !default;
$icon-sort-desc:                            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-sort-color)}" viewBox="0 0 24 24"><path d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z"></path></svg>') !default;
$icon-sort-font-size:                       $icon-width !default;
$icon-sort-position-right:                  14px !default;
$icon-sort-width:                           $icon-width !default;
$checkbox-selector-size:                    22px !default;
$checkbox-selector-color:                   $primary-color !default;
$checkbox-selector-icon-width:              $checkbox-selector-size !default;
$checkbox-selector-icon-checked:            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($checkbox-selector-color)}" viewBox="0 0 24 24"><path d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"></path></svg>') !default;
$checkbox-selector-icon-unchecked:          url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($checkbox-selector-color)}" viewBox="0 0 24 24"><path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path></svg>') !default;
$checkbox-selector-opacity:                 1 !default;
$checkbox-selector-opacity-hover:           0.9 !default;
$cell-menu-icon-margin-right:               6px !default;
$cell-menu-title-font-size:                 18px !default;
$column-picker-checkbox-color:              $primary-color !default;
$column-picker-checkbox-size:               $icon-width !default;
$column-picker-checkbox-font-weight:        normal !default;
$column-picker-checkbox-icon-checked:       url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($column-picker-checkbox-color)}" viewBox="0 0 24 24"><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path></svg>') !default;
$column-picker-checkbox-icon-unchecked:     $column-picker-checkbox-icon-checked !default;
$column-picker-checkbox-width:              $icon-width !default;
$column-picker-title-font-size:             18px !default;
$context-menu-item-font-size:               16px !default;
$context-menu-icon-font-size:               $icon-width !default;
$icon-group-width:                          22px !default;
$icon-group-color:                          $primary-color !default;
$icon-group-collapsed:                      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-group-color)}" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>') !default;
$icon-group-expanded:                       url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($icon-group-color)}" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>') !default;
$icon-group-font-weight:                    normal !default;
$icon-group-margin-right:                   0 !default;
$draggable-group-drop-width:                100% !default;
$draggable-group-drop-radius:               0 !default;
$draggable-group-toggle-collapsed-icon:     $icon-group-collapsed !default;
$draggable-group-toggle-expanded-icon:      $icon-group-expanded !default;
$draggable-group-title-height:              24px !default;
$draggable-group-title-line-height:         24px !default;
$draggable-group-title-vertical-align:      top !default;
$grid-menu-checkbox-size:                   $column-picker-checkbox-width !default;
$grid-menu-checkbox-font-weight:            normal !default;
$grid-menu-checkbox-icon-checked:           $column-picker-checkbox-icon-checked !default;
$grid-menu-checkbox-icon-unchecked:         $column-picker-checkbox-icon-checked !default;
$grid-menu-checkbox-width:                  $column-picker-checkbox-width !default;
$grid-menu-icon-font-size:                  $icon-width !default;
$grid-menu-icon-width:                      $icon-width !default;
$grid-menu-icon-top-margin:                 8px !default;
$grid-menu-title-font-size:                 18px !default;
$header-menu-button-icon-font-size:         24px !default;
$header-menu-button-icon-width:             24px !default;
$header-menu-button-icon-color:             $icon-color !default;
$header-menu-button-icon:                   url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($header-menu-button-icon-color)}" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>') !default;
$header-menu-button-margin-right:           8px !default;
$header-menu-display:                       inline-block !default;
$header-menu-icon-margin-right:             6px !default;
$header-menu-icon-font-size:                $icon-width !default;
$header-menu-icon-width:                    $icon-width !default;
$autocomplete-loading-icon-color:           $icon-color !default;
$autocomplete-loading-icon:                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($autocomplete-loading-icon-color)}" viewBox="0 0 24 24"><path d="M16,13V11H21V13H16M14.83,7.76L17.66,4.93L19.07,6.34L16.24,9.17L14.83,7.76M11,16H13V21H11V16M11,3H13V8H11V3M4.93,17.66L7.76,14.83L9.17,16.24L6.34,19.07L4.93,17.66M4.93,6.34L6.34,4.93L9.17,7.76L7.76,9.17L4.93,6.34M8,13H3V11H8V13M19.07,17.66L17.66,19.07L14.83,16.24L16.24,14.83L19.07,17.66Z"></path></svg>') !default;
$autocomplete-loading-icon-width:           22px !default;
$autocomplete-loading-icon-margin-left:     -26px !default;
$autocomplete-loading-icon-line-height:     0px !default;
$autocomplete-loading-icon-vertical-align:  sub !default;
$multiselect-icon-arrow-font-size:          16px !default;
$multiselect-icon-color:                    $primary-color !default;
$multiselect-icon-height:                   16px !default;
$multiselect-icon-width:                    16px !default;
$multiselect-icon-margin:                   0px 4px 0 0 !default;
$multiselect-icon-checked:                  $checkbox-selector-icon-checked !default;
$multiselect-icon-unchecked:                $checkbox-selector-icon-unchecked !default;
$multiselect-icon-radio-checked:            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($multiselect-icon-color)}" viewBox="0 0 24 24"><path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z"></path></svg>') !default;
$multiselect-icon-radio-unchecked:          url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($multiselect-icon-color)}" viewBox="0 0 24 24"><path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>') !default;
$multiselect-unchecked-opacity:             0.8 !default;
$preheader-border-right:                    1px solid #e2e2e2 !default;
$row-move-plugin-cursor:                    grab !default;
$row-move-plugin-icon-color:                $icon-color !default;
$row-move-plugin-icon:                      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($row-move-plugin-icon-color)}" viewBox="0 0 24 24"><path d="M10,13H22V11H10M10,19H22V17H10M10,7H22V5H10M6,7H8.5L5,3.5L1.5,7H4V17H1.5L5,20.5L8.5,17H6V7Z"></path></svg>') !default;
$slider-editor-height:                      26px !default;
$row-mouse-hover-color:                     #ebfaef !default;
$row-selected-color:                        #d4f6d7 !default;
$detail-view-icon-collapse-color:           $primary-color !default;
$detail-view-icon-expand-color:             $primary-color !default;
$detail-view-icon-collapse:                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($detail-view-icon-collapse-color)}" viewBox="0 0 24 24"><path d="M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>') !default;
$detail-view-icon-expand:                   url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($detail-view-icon-expand-color)}" viewBox="0 0 24 24"><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>') !default;
$pagination-icon-color:                     $primary-color !default;
$pagination-icon-seek-first:                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/><path d="M24 24H0V0h24v24z" fill="none"/></svg>') !default;
$pagination-icon-seek-end:                  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"/></svg>') !default;
$pagination-icon-seek-next:                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>') !default;
$pagination-icon-seek-prev:                 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($pagination-icon-color)}" viewBox="0 0 24 24"> <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path></svg>') !default;
$pagination-icon-seek-first-width:          $icon-width !default;
$pagination-icon-seek-prev-width:           $icon-width !default;
$pagination-icon-seek-next-width:           $icon-width !default;
$pagination-icon-seek-end-width:            $icon-width !default;
$pagination-button-padding:                 6px 9px !default;
$pagination-button-border-radius:           2px !default;
$pagination-page-input-border-radius:       3px !default;

@import './slick-default-theme';
@import './slick-grid';
@import './slick-controls';
@import './slick-editors';
@import './slick-plugins';
@import './slick-pagination';
@import './slick-footer';
@import './slickgrid-examples';
@import './slick-bootstrap';
@import './ui-autocomplete';
