/* control variables */
@import './variables';

// ----------------------------------------------
// Column Picker Control
// ----------------------------------------------

.slick-columnpicker {
  background-color: $column-picker-background-color;
  border: $column-picker-border;
  border-radius: $column-picker-border-radius;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  box-shadow: $column-picker-box-shadow;
  min-width: 150px;
  cursor: default;
  position: absolute;
  z-index: 2000;
	overflow: auto;
  resize: both;

  > .close {
    float: right;
    width: $column-picker-close-width;
    height: $column-picker-close-height;
    margin: $column-picker-close-margin;
    padding: $column-picker-close-padding;

    background-color: $column-picker-close-bg-color;
    border: $column-picker-close-border;

    > span {
      opacity: $column-picker-close-opacity;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;

    a {
      display: block;
      padding: 4px;
      font-weight: bold;
      &:hover {
        background-color: $column-picker-link-background-color;
      }
    }
    label {
      font-weight: $column-picker-label-font-weight;
      input {
        margin: $column-picker-label-margin;
      }
    }
  }
  .title {
    font-size: 16px;
    width: 60%;
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 10px;
  }
}

.slick-columnpicker-list {
  /** make sure the hidden class exist, it was removed in BS4 */
  li.hidden {
    display: none;
  }

  li {
    border: $column-picker-item-border;
    border-radius: $column-picker-item-border-radius;
    padding: $column-picker-item-padding;
    list-style: none outside none;
    margin: 0;
    &:hover {
      border: $column-picker-item-hover-border;
      background-color: $column-picker-item-hover-color;
    }
    label {
      cursor: pointer;
      width: 100%;
      margin-bottom: 0px;
    }
  }

  hr {
    margin: 6px 0;
    border: 0;
    border-top: 1px solid #d5d5d5;
  }

  /* replace checkboxes by Font-Awesome icons */
  input[type=checkbox] {
    display:none;  /* to hide the checkbox itself */
    margin-left: 4px;
    margin-top: 3px;
  }

  input[type=checkbox] + label:before {
    cursor: pointer;
    content: $column-picker-checkbox-icon-unchecked;
    color: $column-picker-checkbox-color;
    display: inline-block;
    font-weight: bold;
    font-family: $icon-font-family;
    font-size: $column-picker-checkbox-size;
    opacity: $column-picker-checkbox-opacity; /* unchecked icon */
    margin-right: 4px;
    width: $column-picker-checkbox-width;
  }

  input[type=checkbox] + label:hover:before {
    opacity: $column-picker-checkbox-opacity-hover;
  }

  input[type=checkbox]:checked + label:before {
    opacity: 1; /* checked icon */
    content: $column-picker-checkbox-icon-checked;
    width: $column-picker-checkbox-width;
  }
}


// ----------------------------------------------
// Grid Menu aka Hamburger Menu
// ----------------------------------------------

.slick-gridmenu {
  background-color: $grid-menu-background-color;
  border: $grid-menu-border;
  border-radius: $grid-menu-border-radius;
  padding: 6px;
  box-shadow: $grid-menu-box-shadow;
  min-width: 200px;
  cursor: default;
  position:absolute;
  z-index: 2000;
	overflow: auto;
  resize: both;

  > .close {
    float: right;
    width: $grid-menu-close-width;
    height: $grid-menu-close-height;
    margin: $grid-menu-close-margin;
    padding: $grid-menu-close-padding;

    background-color: $grid-menu-close-bg-color;
    border: $grid-menu-close-border;

    > span {
      opacity: $grid-menu-close-opacity;
    }
  }

  .title {
    font-size: 16px;
    width: calc(100% - 30px);
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 5px;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    a {
      display: block;
      padding: 4px;
      font-weight: bold;
      &:hover {
        background-color: $grid-menu-link-background-color;
      }
    }
    label {
      font-weight: $grid-menu-label-font-weight;
      input {
        margin: $grid-menu-label-margin;
      }
    }
  }
  input {
    margin: 4px;
  }
}

.slick-gridmenu-button {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: 0 2px;
  top: 0;
  background-color: transparent;
  border: 0;
  margin-top: 5px;
  width: 22px;
  font-size: $grid-menu-icon-font-size;
}

.slick-gridmenu-custom {
  margin-bottom: 10px;
}

/* Menu items */
.slick-gridmenu-item {
  cursor: pointer;
  border: $grid-menu-item-border;
  border-radius: $grid-menu-item-border-radius;
  padding: $grid-menu-item-padding;
  list-style: none outside none;
  margin: 0;
  &:hover {
    border: $grid-menu-item-hover-border;
    background-color: $grid-menu-item-hover-color;
  }

  &.slick-header-menuitem-divider {
    cursor: default;
    border: none;
    overflow: hidden;
    padding: 0;
    height: $grid-menu-divider-height;
    margin: $grid-menu-divider-margin;
    background-color: $grid-menu-divider-color;
    &:hover {
      border: none;
      background-color: $grid-menu-item-disabled-color;
    }
  }
}
.slick-gridmenu-item-divider.slick-gridmenu-item:hover {
  background-color: $grid-menu-divider-color;
}

.slick-gridmenu-item-disabled {
  border-color: transparent !important;
  background: inherit !important;
}

.slick-gridmenu-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-gridmenu-content {
  display: inline-block;
  vertical-align: middle;
}

.slick-gridmenu-list {
  /** make sure the hidden class exist, it was removed in BS4 */
  li.hidden {
    display: none;
  }

  li {
    border: $grid-menu-item-border;
    border-radius: $grid-menu-item-border-radius;
    padding: $grid-menu-item-padding;
    list-style: none outside none;
    margin: 0;
    &:hover {
      border: $grid-menu-item-hover-border;
      background-color: $grid-menu-item-hover-color;
    }
    label {
      cursor: pointer;
      width: 100%;
      margin-bottom: 0px;
    }
  }

  hr {
    margin: 6px 0;
    border: 0;
    border-top: 1px solid #dddddd;
  }

  /* replace checkboxes by Font-Awesome icons */
  input[type=checkbox] {
    display:none;  /* to hide the checkbox itself */
    margin-left: 4px;
    margin-top: 3px;
  }

  input[type=checkbox] + label:before {
    cursor: pointer;
    content: $grid-menu-checkbox-icon-unchecked;
    color: $grid-menu-checkbox-color;
    display: inline-block;
    font-weight: bold;
    font-family: $icon-font-family;
    font-size: $grid-menu-checkbox-size;
    opacity: $grid-menu-checkbox-opacity; /* unchecked icon */
    margin-right: 4px;
    width: $grid-menu-checkbox-width;
  }

  input[type=checkbox] + label:hover:before {
    opacity: $grid-menu-checkbox-opacity-hover;
  }

  input[type=checkbox]:checked + label:before {
    content: $grid-menu-checkbox-icon-checked;
    opacity: 1; /* checked icon */
    width: $grid-menu-checkbox-width;
  }
}

/* Disabled */
.slick-gridmenu-item-disabled {
  color: silver;
}
