/* control variables */
@import './variables';

// ----------------------------------------------
// Column Picker Control
// ----------------------------------------------

.slick-columnpicker {
  background-color: $column-picker-background-color;
  border: $column-picker-border;
  border-radius: $column-picker-border-radius;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  box-shadow: $column-picker-box-shadow;
  min-width: 150px;
  cursor: default;
  position: absolute;
  z-index: 2000;
	overflow: auto;
  resize: both;

  > .close {
    float: right;
    width: 20px;
    height: 25px;
    padding: 2px;
    background-color: $column-picker-close-background-color;
    border: $column-picker-close-border;

    > span {
      opacity: $column-picker-close-opacity;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;

    a {
      display: block;
      padding: 4px;
      font-weight: bold;
      &:hover {
        background-color: $column-picker-link-background-color;
      }
    }
    label {
      font-weight: $column-picker-label-font-weight;
      input {
        margin: $column-picker-label-margin;
      }
    }
  }
  .title {
    font-size: 16px;
    width: 60%;
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 10px;
  }
}

.slick-columnpicker-list {
  /** make sure the hidden class exist, it was removed in BS4 */
  li.hidden {
    display: none;
  }

  hr {
    margin: 6px 0;
    border: 0;
    border-top: 1px solid #d5d5d5;
  }
}


// ----------------------------------------------
// Grid Menu aka Hamburger Menu
// ----------------------------------------------

.slick-gridmenu {
  background-color: $grid-menu-background-color;
  border: $grid-menu-border;
  border-radius: $grid-menu-border-radius;
  padding: 6px;
  box-shadow: $grid-menu-box-shadow;
  min-width: 200px;
  cursor: default;
  position:absolute;
  z-index: 2000;
	overflow: auto;
  resize: both;

  > .close {
    float: right;
    opacity: 0.5;
  }
  .title {
    font-size: 16px;
    width: calc(100% - 30px);
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 5px;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    a {
      display: block;
      padding: 4px;
      font-weight: bold;
      &:hover {
        background-color: $grid-menu-link-background-color;
      }
    }
    label {
      font-weight: $grid-menu-label-font-weight;
      input {
        margin: $grid-menu-label-margin;
      }
    }
  }
  input {
    margin: 4px;
  }
}

.slick-gridmenu-button {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: 0 2px;
  top: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-top: 5px;
  width: 22px;
  font-size: $grid-menu-icon-font-size;
}

.slick-gridmenu-custom {
  margin-bottom: 10px;
}

/* Menu items */
.slick-gridmenu-item {
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    border-color: silver;
    background: white;
  }

  &.slick-gridmenu-item-divider {
    cursor: default;
    border: none;
    overflow: hidden;
    padding: 0;
    height: $header-menu-divider-height;
    margin: $header-menu-divider-margin;
    background-color: $header-menu-divider-color;
  }
}
.slick-gridmenu-item-divider.slick-gridmenu-item:hover {
  background-color: $header-menu-divider-color;
}

.slick-gridmenu-item-disabled {
  border-color: transparent !important;
  background: inherit !important;
}

.slick-gridmenu-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-gridmenu-content {
  display: inline-block;
  vertical-align: middle;
}

.slick-gridmenu-list {
  /** make sure the hidden class exist, it was removed in BS4 */
  li.hidden {
    display: none;
  }

  hr {
    margin: 6px 0;
    border: 0;
    border-top: 1px solid #dddddd;
  }
}

/* Disabled */
.slick-gridmenu-item-disabled {
  color: silver;
}
