/* plugin variables */
@import './variables';

// ---------------------------------------------------------
// Header Button Plugin - add button in header with command
// ---------------------------------------------------------

.slick-column-name,
.slick-sort-indicator {
  /**
   * This makes all "float:right" elements after it that spill over to the next line
   * display way below the lower boundary of the column thus hiding them.
   */
  float: left;
  margin-bottom: 100px;
}

.slick-header-button {
 /**
  * This makes all "float:right" elements after it that spill over to the next line
  * display way below the lower boundary of the column thus hiding them.
  */
  float: right;
  vertical-align: top;
  margin: 1px;
  margin-bottom: 100px;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.slick-header-button-hidden {
  width: 0;
  margin-right: -8px;

  -webkit-transition: 0.2s width;
  -ms-transition: 0.2s width;
  transition: 0.2s width;
}

.slick-header-column:hover > .slick-header-button {
  width: 15px;
}

// ----------------------------------------------
// Header Menu Plugin - Excel-like header
// ----------------------------------------------

.slick-header-menubutton {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  position: absolute;

  // The next few items are already defined in the slick-headermenu.less file and it should stay that way, *unless* you also replace the button image included there.
  bottom: 0;
  right: 3px;
  top: 0;
  width: 14px;
}
.slick-header-menubutton:before {
  font-family: $icon-font-family;
  font-size: 14px;
  content: "\f13a";
}

.slick-header-column:hover {
  .slick-header-menubutton {
    display: inline-block;
  }
}
.slick-header-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #BFBDBD;
  min-width: 175px;
  padding: 4px;
  z-index: 100000;
  cursor: default;
  display: inline-block;
  margin: 0;
  position: absolute;

  button {
    border: 1px solid #BFBDBD;
    background-color: white;
    width: 45px;
    padding: 4px;
    margin: 4px 4px 4px 0;
  }

  .filter {
    border: 1px solid #BFBDBD;
    font-size: 8pt;
    height: 400px;
    margin-top: 6px;
    overflow: scroll;
    padding: 4px;
    white-space: nowrap;
    width: 200px;
  }

  .textfilter {
    & > label {
      display: inline-block;
      margin-left: 5px;
      margin-right: 10px;
    }

    & > input[type=text] {
      width: 70%;
    }
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

.slick-header-menuitem {
  border: 1px solid transparent;
  padding: 2px 4px;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
}

.slick-header-menuicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}

.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}

.slick-header-menuitem:hover {
  border-color: #BFBDBD;
  background-color: rgb(246, 246, 246);
}
.slick-header-menuitem-disabled {
  border-color: transparent !important;
  background: inherit !important;
}
/* Disabled */
.slick-header-menuitem-disabled {
  color: silver;
}

// ----------------------------------------------
// Checkbox Selector Plugin
// ----------------------------------------------

.slick-column-name > input[type=checkbox],
.slick-cell-checkboxsel > input[type=checkbox] {
  display:none;  /* to hide the checkbox itself */
}
.slick-column-name > input[type=checkbox] + label:before,
.slick-cell-checkboxsel > input[type=checkbox] + label:before {
  font-family: $icon-font-family;
  color: $chekbox-selector-color;
  font-weight: bold;
  display: inline-block;
  content: $chekbox-selector-icon;
  font-size: $chekbox-selector-size;
  cursor: pointer;
}
.slick-column-name > input[type=checkbox] + label:before,
.slick-cell-checkboxsel > input[type=checkbox] + label:before {
  opacity: $chekbox-selector-opacity; /* unchecked icon */
}
.slick-column-name > input[type=checkbox]:checked + label:before,
.slick-cell-checkboxsel > input[type=checkbox]:checked + label:before {
  opacity: 1; /* checked icon */
}

// ----------------------------------------------
// Multi-Select Filter
// ----------------------------------------------
.ms-choice {
  border: $multiselect-input-filter-border;
  span {
    font-size: $multiselect-input-filter-font-size;
    font-family: $multiselect-input-filter-font-family
  }
}
.ms-filter.search-filter {
  width: 100% !important;
}
.ms-drop {
  max-width: $multiselect-dropdown-max-width;
  border: $multiselect-dropdown-border;

  input[type="checkbox"],
  input[type="radio"] {
    /* make input checkbox invisible but don't hide it since multiple-select uses hide for something else */
    opacity: 0;
    width: 0;

    & + span:before {
      cursor: pointer;
      color: $multiselect-icon-color;
      content: $multiselect-icon-unchecked;
      display: inline-block;
      font-family: $icon-font-family;
      font-size: $multiselect-icon-font-size;
      font-weight: normal;
      width: 20px;
      opacity: $multiselect-unchecked-opacity;
    }

    &:checked + span:before {
      content: $multiselect-icon-checked;
      opacity: 1;
    }
  }
  input[type="radio"] {
    & + span:before {
      content: $multiselect-icon-radio-unchecked;
    }
    &:checked + span:before {
      content: $multiselect-icon-radio-checked;
    }
  }
  label {
    span {
      cursor: pointer;
      margin-left: $multiselect-checkbox-margin-left;
      position: relative;
      top: 1px;
    }
    &:hover {
      cursor: pointer;
      background-color: $multiselect-checkbox-hover-bg-color;
    }
  }
  .ms-select-all {
    border-bottom: $multiselect-select-all-border-bottom;
    label {
      font-weight: normal;
      padding: 5px 8px;
      color: $multiselect-select-all-text-color;
    }
  }
  .ms-ok-button {
    cursor: pointer;
    display: block;
    width: $multiselect-ok-button-width;
    height: $multiselect-ok-button-height;
    padding: 0;
    border: $multiselect-ok-button-border;
    text-align: $multiselect-ok-button-text-align;
    color: $multiselect-ok-button-text-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $multiselect-ok-button-bg-color;
    &:hover {
      background-color: $multiselect-ok-button-bg-hover-color;
    }
  }
}
