/*
 * IMPORTANT:
 * In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
 * No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
 * classes should alter those!
 */
 @import './variables';

 .pointer {
   cursor: pointer;
 }
 .slickgrid-container {
   .slick-header-columns,
   .slick-header-column {
     background: $grid-header-background;
     // background-color: #EBECEE;
     box-sizing: content-box !important; /* this here only for Firefox! */
   }

   .slick-header-columns {
     /*border-bottom: 1px solid $grid-border-color;*/
     background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.1));
   }

   .slick-header-column {
     border-right: 1px solid $grid-border-color;
     border-bottom: 1px solid $grid-border-color;
   }

   .slick-header-column:hover {
     background: darken($grid-header-background, 2%);
   }

   .slick-header-column-active {
     background: darken($grid-header-background, 5%) !important;
   }

   .slick-headerrow {
     background: $grid-header-background;
   }

   .slick-headerrow-column {
     background: #fafafa;
     border-bottom: 0;
   }

   .grid-canvas {
     background: white;
   }

   .slick-row {
     background: inherit;
     border: 0;
     line-height: 20px;

     .slick-cell {
       background: inherit;

       padding-top: 3px;
       padding-bottom: 4px;
       padding-left: 4px;
       padding-right: 4px;
       box-sizing: border-box;

       &.invalid {
         border-color: red;
         -moz-animation-duration: 0.2s;
         -webkit-animation-duration: 0.2s;
         -moz-animation-name: slickgrid-invalid-hilite;
         -webkit-animation-name: slickgrid-invalid-hilite;
         animation-duration: 0.2s;
         animation-name: slickgrid-invalid-hilite;
       }

       &.selected {
         background-color: rgb(231, 231, 195); // beige
       }

       &.active {
         border: $cell-active-border;

         // We compensate for the all-around border (now 1px at top and left too!)
         padding-top: 5px;
         padding-left: 7px;

         input.editor-text {
           width: 100%;
           height: 100%;
           outline: 0;
           transform: translate(0, -2px);
         }
       }
     }

     &.odd .slick-cell {
       background: $cell-odd-background-color;

       // make sure we override the regular background color:
       &.selected {
         background-color: rgb(214, 214, 178); // beige
       }
     }

     &.active-row .slick-cell {
       background-color: rgb(226, 255, 253);

       // make sure we override the regular background color:
       &.selected {
         background-color: red;
       }
     }

     &.active-row.odd .slick-cell {
       background-color: $cell-odd-active-background-color;

       // make sure we override the regular background color:
       &.selected {
         background-color: green; // beige
       }
     }

     &.loading {
       opacity: 0.5;
     }
   }

   .slick-group {
     border-bottom: 2px solid silver;
   }

   .slick-group-toggle {
    width: 9px;
    height: 9px;
    margin-right: 5px;
  }

  .slick-group-toggle.expanded {
    background: none;
  }

  .slick-group-toggle.collapsed {
    background: none;
  }

   .slick-group-totals {
     color: gray;
     background: white;
   }

   .slick-sortable-placeholder {
     background: silver !important;
   }

   @keyframes slickgrid-invalid-hilite {
     from {
       box-shadow: 0 0 6px red;
     }
     to {
       box-shadow: none;
     }
   }

   // ----------------------------------------------
   // Excel-like header
   // ----------------------------------------------




   .header-overlay,
   .cell-overlay,
   .selection-cell-overlay {
     display: block;
     position: absolute;
     z-index: 999;
   }

   .slick-cell > .editor-select {
     position: absolute;
     left: 0;
     right: 0;
     width: auto;
     top: 0;
     bottom: 0;
     max-width: 100%;
     min-width: 0;
     margin: 0;
   }

   .slick-range-decorator {
     z-index: 100;
     pointer-events: none;
     background: transparent;
     border: none;
     outline: black;
   }
 }
