$navbar-height: 56px;
$side-menu-width: 250px;

.body-content {
  margin-top: $navbar-height;
}
.lightblue {
  color: lightblue;
}
.red {
  color: red;
}
.faded {
    opacity: 0.7;
}
.faded:hover {
    opacity: 1;
}

section {
  margin: 0;
}

/** Sidebar (left) and Content (right) */
@media (min-width: 1200px) {
  .panel-wm-content .container {
      width: calc(1170px - #{$side-menu-width});
  }
}

.nav-docs {
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.panel-wm {
  padding: #{$navbar-height} 0 0 0;

  .nav-stacked {
    padding-bottom: 30px;

    .nav-item {
      width: 100%;
    }
  }

  .nav > li > a {
    padding: 10px 15px;
    border-radius: 0;
  }

  .panel-wm-content {
    margin-left: $side-menu-width;
    padding-right: 20px;
  }

  .panel-wm-left {
    position: fixed;
    z-index: 400;
    transition: left 0.15s;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    transform: translate3d(0, 0, 0);
    border-right: 1px solid #d0d0d0;
    overflow-y: auto;
    width: $side-menu-width;
  }
}
