$side-menu-width: 250px;

.body-content {
  margin-top: $navbar-height;
}
.lightblue {
  color: lightblue;
}
.red {
  color: red;
}
.faded {
  opacity: 0.7;
}
.faded:hover {
  opacity: 1;
}

section {
  margin: 0;
}

/** Sidebar (left) and Content (right) */
@media (min-width: 1200px) {
  .panel-wm-content .container {
    width: calc(1170px - #{$side-menu-width});
  }
}

.navbar {
  .navbar-brand {
    margin-right: 0px;
  }
  .logo {
    margin: 0 8px;
  }
}

.nav-docs {
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}
