/* You can add global styles to this file, and also import other style files */
.italic {
  font-style: italic;
}
.subtitle {
  font-size: 18px;
  font-style: italic;
  color: grey;
  margin-bottom: 10px;
}
.lightblue {
  color: lightblue;
}
.red {
    color: red;
}
.faded {
    opacity: 0.2;
}
.faded:hover {
    opacity: 0.5;
}
.pointer {
  cursor: pointer !important;
}
.padding10 {
  padding: 10px !important;
}
.text-danger {
  color: red !important;
}